.container{
    display: grid;
    grid-template-columns: (3,1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-template-rows:(6,1fr);
    gap: 3px;
    background-color: black;
    padding: 3px;
}

.display{
    grid-column: span 4;
    background-color: rgb(133, 179, 240);
    
    
}

#zero{
    grid-column: span 2;
}